From: https://unit8co.github.io/darts/quickstart/00-quickstart.html

# Quickstart

We'll start with importing some standard things and a sample dataset.

In [2]:
import pandas as pandas
import numpy as np
import matplotlib.pyplot as plt

from darts import TimeSeries

from darts.datasets import AirPassengersDataset

`TimeSeries` is the main data class in Darts. It can be univariate or multivariate. It
can take a `pandas.DatetimeIndex` or `pandas.RangeIndex` or a probabilistic series. All
models in Darts consume and produce `TimeSeries` objects.

## Read in data and build a `TimeSeries`

`TimeSeries` has many factory methods for creating them, some common ones:
- From a Pandas `DataFrame`, using `TimeSeries.from_dataframe()`
- From a Pandas `Series`, using `TimeSeries.from_series()`
- From a NumPy array, using `TimeSeries.from_values()`
- From a time index and an array of corresponding values, using `TimeSeries.from_times_and_values()`
- From a CSV file, using `TimeSeries.from_csv()`


Darts sample data sets have a function for directly loading them.

In [9]:
air_passengers_darts_series = AirPassengersDataset().load()
air_passengers_as_df = air_passengers_darts_series.pd_dataframe()
air_passengers_as_df.describe()

component  #Passengers
count       144.000000
mean        280.298611
std         119.966317
min         104.000000
25%         180.000000
50%         265.500000
75%         360.500000
max         622.000000

In [10]:
air_passengers_as_df.head()

component   #Passengers
Month
1949-01-01        112.0
1949-02-01        118.0
1949-03-01        132.0
1949-04-01        129.0
1949-05-01        121.0

In [ ]:
air_passengers_darts_series.plot()